<p id="notice"><%= notice %></p>

<h1>Blues</h1>

<table>
  <thead>
    <tr>
      <th>Danceability</th>
      <th>Energy</th>
      <th>Loudness</th>
      <th>Mode</th>
      <th>Valence</th>
      <th>Tempo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blues.each do |blue| %>
      <tr>
        <td><%= blue.danceability %></td>
        <td><%= blue.energy %></td>
        <td><%= blue.loudness %></td>
        <td><%= blue.mode %></td>
        <td><%= blue.valence %></td>
        <td><%= blue.tempo %></td>
        <td><%= link_to 'Show', blue %></td>
        <td><%= link_to 'Edit', edit_blue_path(blue) %></td>
        <td><%= link_to 'Destroy', blue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blue', new_blue_path %>
