<%= form_with(model: orange, local: true) do |form| %>
  <% if orange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orange.errors.count, "error") %> prohibited this orange from being saved:</h2>

      <ul>
      <% orange.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :danceability %>
    <%= form.text_field :danceability, id: :orange_danceability %>
  </div>

  <div class="field">
    <%= form.label :energy %>
    <%= form.text_field :energy, id: :orange_energy %>
  </div>

  <div class="field">
    <%= form.label :loudness %>
    <%= form.text_field :loudness, id: :orange_loudness %>
  </div>

  <div class="field">
    <%= form.label :mode %>
    <%= form.text_field :mode, id: :orange_mode %>
  </div>

  <div class="field">
    <%= form.label :valence %>
    <%= form.text_field :valence, id: :orange_valence %>
  </div>

  <div class="field">
    <%= form.label :tempo %>
    <%= form.text_field :tempo, id: :orange_tempo %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :orange_user_id , value:  current_user.id%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
