<p id="notice"><%= notice %></p>

<h1>Oranges</h1>

<table>
  <thead>
    <tr>
      <th>Danceability</th>
      <th>Energy</th>
      <th>Loudness</th>
      <th>Mode</th>
      <th>Valence</th>
      <th>Tempo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oranges.each do |orange| %>
      <tr>
        <td><%= orange.danceability %></td>
        <td><%= orange.energy %></td>
        <td><%= orange.loudness %></td>
        <td><%= orange.mode %></td>
        <td><%= orange.valence %></td>
        <td><%= orange.tempo %></td>
        <td><%= link_to 'Show', orange %></td>
        <td><%= link_to 'Edit', edit_orange_path(orange) %></td>
        <td><%= link_to 'Destroy', orange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orange', new_orange_path %>
