<p id="notice"><%= notice %></p>

<h1>Purples</h1>

<table>
  <thead>
    <tr>
      <th>Danceability</th>
      <th>Energy</th>
      <th>Loudness</th>
      <th>Mode</th>
      <th>Valence</th>
      <th>Tempo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purples.each do |purple| %>
      <tr>
        <td><%= purple.danceability %></td>
        <td><%= purple.energy %></td>
        <td><%= purple.loudness %></td>
        <td><%= purple.mode %></td>
        <td><%= purple.valence %></td>
        <td><%= purple.tempo %></td>
        <td><%= link_to 'Show', purple %></td>
        <td><%= link_to 'Edit', edit_purple_path(purple) %></td>
        <td><%= link_to 'Destroy', purple, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purple', new_purple_path %>
