<p id="notice"><%= notice %></p>

<h1>Yellows</h1>

<table>
  <thead>
    <tr>
      <th>Danceability</th>
      <th>Energy</th>
      <th>Loudness</th>
      <th>Mode</th>
      <th>Valence</th>
      <th>Tempo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yellows.each do |yellow| %>
      <tr>
        <td><%= yellow.danceability %></td>
        <td><%= yellow.energy %></td>
        <td><%= yellow.loudness %></td>
        <td><%= yellow.mode %></td>
        <td><%= yellow.valence %></td>
        <td><%= yellow.tempo %></td>
        <td><%= link_to 'Show', yellow %></td>
        <td><%= link_to 'Edit', edit_yellow_path(yellow) %></td>
        <td><%= link_to 'Destroy', yellow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yellow', new_yellow_path %>
